<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <title>Portfolio</title>
</head>
<body>
    <header>
        <nav style="display: flex; justify-content: space-between; align-items: center;">
            <a href="/" style="display: inline-block; margin-right: 20px; font-size: 30px; text-decoration: none;">家</a>
            <div style="float: right;">
                <a href="/" style="margin-left: 20px; text-decoration: none;">Home</a>
                <a href="/about" style="margin-left: 20px; text-decoration: none;">About</a>
                <a href="/contact" style="margin-left: 20px; text-decoration: none;">Contact</a>
                <a href="/works" style="margin-left: 20px; text-decoration: none;">Works</a>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="/static/js/animations.js"></script>
</body>
</html>